@import "bootstrap/dist/css/bootstrap.min.css";
.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}
.butcherman-regular {
  font-family: "Butcherman", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: white;
    font-family: "Butcherman", system-ui;


}
 #excusas {
  font-family: "Creepster", system-ui;
  font-size: 50px;

 }
 img {
    width: 400px;
 }